html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

pre.cleanup-message {
    width: 100%;
    height: 75px;
    background-color: #e5e5e5;
    margin: 5px 0 0 0;
}