@model DockerAdmin.ViewModels.ContainerLogsViewModel
@{
    ViewData["Title"] = "Logs";
}

<h3>Container logs</h3>
<h6>Container id @Model.ContainerId</h6>

<pre style="background-color: #101010; color: #fff; max-height: 400px;">
@Model.Logs
</pre>

<a class="btn btn-light btn-sm" asp-action="Index"> back </a>